#akiyoshi
  position absolute
  z-index 100
  left 50%
  top 100px

  img
    position relative
    width 90px
    height 90px
    top -45px
    left -45px

  @media screen and (min-width: 600px)
    top 280px

    img
      width 180px
      height 180px
      top -90px
      left -90px

main.top
  width 100%
  background url(../img/warakota_bg.gif)
  background-size cover 
  height 150px
  margin-bottom 200px

  @media screen and (min-width: 600px)
    height 380px

.section
  margin-bottom 200px
